
<div class="social-networks">
    <ul>
      <li>
        <a [href]="urlLinkedin" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/linkedin.png" alt="logo linkedin">
        </a>
      </li>
      <li>
        <a [href]="urlGithub" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/github.png" alt="logo linkedin">
        </a>
      </li>
      <li>
        <a [href]="urlMail" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/mail.png" alt="logo linkedin">
        </a>
      </li>
    </ul>
</div>
<div class="contact-info">
      <button (click)="copyEmail()" class="copy-button">Copiar Email</button>
</div>

    <p>&copy; {{getYear()}} {{name}}. Todos los derechos reservados. La información presentada en este portafolio es exclusivamente para fines de contratación. Queda prohibida cualquier copia, distribución o uso no autorizado.</p>
