<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand"></a>
        <button class="navbar-toggle" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span class="navbar-toggle-icon"></span>
        </button>
        <ul class="navbar-menu" style="text-align: center;">
            <li><a routerLink="/" (click)="closeNavbar()"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a routerLink="/projects" (click)="closeNavbar()"><i class="fas fa-project-diagram"></i> Proyectos</a></li>
            <li><a routerLink="/training" (click)="closeNavbar()"><i class="fas fa-graduation-cap"></i> Formación</a></li>
            <li><a routerLink="/cv" (click)="closeNavbar()"><i class="fas fa-file-alt"></i> Currículum Vitae</a></li>
            <li><a routerLink="/experience" (click)="closeNavbar()"><i class="fas fa-briefcase"></i> Experiencia</a></li>
        </ul>
    </div>
</nav>