<nav class="navbar">
    <div class="navbar-container">
        <button class="navbar-toggle" (click)="toggleNavbar()">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div id="navigation-bar">
            <nav>
                <ul [class.active]="isMenuOpen" class="navbar-menu">
                    <li><a routerLink="" (click)="closeNavbar()">Inicio</a></li>
                    <li><a routerLink="projects" (click)="closeNavbar()">Proyectos</a></li>
                    <li><a routerLink="training" (click)="closeNavbar()">Formación</a></li>
                    <li><a routerLink="experience" (click)="closeNavbar()">Experiencia Profesional</a></li>
                    <li><a routerLink=cv (click)="closeNavbar()">Curriculum</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

