/* Estilos básicos */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a:hover::after {
    visibility: visible;
    width: 100%;
}

li a:hover {
    color: #e9e2ee;
    text-decoration: underline;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.navbar-toggle-icon {
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: white;
    position: relative;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    left: 0;
}

.navbar-toggle-icon::before {
    top: -8px;
}

.navbar-toggle-icon::after {
    top: 8px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.navbar-menu li a {
    color: #b689d7
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    li {
        float: none;
        width: 100%;
    }

    .dropdown-content {
        position: relative;
    }
}