@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
    width: 100%;
    display: inline-block;
}

/** HEADER */

/** NAVIGATION BAR */
.navbar {
    z-index: 2;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    right: 10px; 
}

.navbar-toggle-icon {
    z-index: 2;
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: white;
    position: relative;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    left: 0;
}

.navbar-toggle-icon::before {
    top: -8px;
}

.navbar-toggle-icon::after {
    top: 8px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    z-index: 3;
}

.navbar-menu.active {
    display: flex;
}

.navbar-menu li a {
    color: rgb(174, 102, 247); 
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar-menu li a:hover {
    background-color: rgb(75, 72, 72); 
    color:#c58aef ;
    border-radius: 10px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {

    .navbar-container {
        padding: 14px 16px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    li {
        float: none;
        width: 100%;
    }

    .dropdown-content {
        position: relative;
    }
}

