<nav class="navbar">
    <div class="navbar-container">
        <button class="navbar-toggle" (click)="toggleNavbar()">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div id="navigation-bar">
            <nav>
                <ul [class.active]="isMenuOpen" class="navbar-menu">
                    <li><a routerLink="" (click)="closeNavbar()"><i class="fas fa-home"></i> Inicio</a></li>
                    <!-- <li><a routerLink="projects" (click)="closeNavbar()"><i class="fas fa-project-diagram"></i> Proyectos</a></li>
                    <li><a routerLink="training" (click)="closeNavbar()"><i class="fas fa-graduation-cap"></i> Formación</a></li>
                    <li><a routerLink="experience" (click)="closeNavbar()"><i class="fas fa-briefcase"></i> Experiencia Profesional</a></li> -->
                    <li><a routerLink="cv" (click)="closeNavbar()"><i class="fas fa-file-alt"></i> Curriculum</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

