<h2 style="text-align: center; margin-top: 100px;">Experiencia Porfesional</h2><br><br>
<div class="container">
    <div class="timeline">
            <div class="timeline-row">
                <div class="timeline-time">
                    Septiembre 2024 - Diciembre 2024 <small>Accuro Technology SL</small>
                </div>
                <div class="timeline-content">
                    <a [href]="urlAccuro" target="_blank">
                        <div class="thumbs">
                            <img class="img-fluid rounded" src="/assets/images/accuro.png" alt="Maxwell Admin">
                        </div>
                    </a>
                    <h4>Asistente en Desarrollo de Aplicaciones y Sistemas</h4>
                    <ul>
                        <li>Apoyo en el desarrollo frontend de aplicaciones web usando Angular.</li>
                        <li>Colaboración en la implementación y personalización de sistemas ERP.</li>
                        <li>Maquetación y diseños de sitios web en WordPress.</li>
                        <li>Resolución de incidencias técnicas y soporte en la documentación.</li>
                    </ul>
                </div>
            </div>
    
            <div class="timeline-row">
                <div class="timeline-time">
                Enero 2019 - Abril 2023<small>Kortimed SL</small>
                </div>
                <div class="timeline-content">                    
                    <div class="thumbs">
                        <img class="img-fluid rounded" src="/assets/images/kortimed.png" alt="Maxwell Admin">
                    </div>
                    <h4>Conductor Profesional</h4>
                    <ul>
                        <li>Transporte de productos alimenticios en cisternas acondicionadas de gran tonelaje</li>
                    </ul>
                </div>
            </div>

            <div class="timeline-row">
                <div class="timeline-time">
                    Enero 2015 - Abril 2018 <small>Campasa</small>
                </div>
                <div class="timeline-content">
                    <div class="thumbs">
                        <img class="img-fluid rounded" src="/assets/images/campsa.png" alt="Maxwell Admin">
                    </div>
                    <h4>Encargado de Estación de Servicios</h4>
                    <ul>
                        <li>Encargado de tienda y repostaje de cobustibles en estación de servicio Campsa.</li>
                    </ul>
                </div>
            </div>
    
    
            <div class="timeline-row">
                <div class="timeline-content">
                    <p class="m-0">Para más información sobre el trayecto laboral contactar</p>
                </div>
            </div>
    
        </div>
    </div>
