.projects-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensure full viewport height */
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.tittle {
    text-align: center;
    z-index: 1;
    position: relative;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    z-index: 0;
    position: relative;
    overflow: hidden; /* Ensure no scroll */
}

.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.card img {
    margin-top: 30px;
    z-index: 2;
    margin-left: 50px;
    width: 100px;
    height: 90px;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 10px;
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::before {
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
}

.card::after {
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

//bakground styles
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
    background-color: #192e58;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    z-index: -1;
}

.cube {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #0051f4;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .container-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 70%;
        max-width: 100%;
    }

    .heading {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}