<h2>Títulos y Certificados</h2>
<div class="background">
  <div class="container">
    <div class="timeline">
      <div *ngFor="let training of trainings" class="timeline-container {{training.colorClass}}">
        <div class="timeline-icon">
          <i class="{{training.icon}}"></i>
        </div>
        <div class="timeline-body">
          <h4 class="timeline-title"><span class="badge">{{training.badge}}</span></h4>
          <p>{{training.description}}</p>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>