<h2 class="tittle">Educación y Formación</h2>
<div class="container">
    <div class="timeline">
        <div class="timeline-container light-lilac">
            <div class="timeline-icon">
                <i class="fas fa-laptop-code"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</span></h4>
                <p>IES Gregorio Prieto | Septiembre 2022 - Diciembre 2024.</p>
            </div>
        </div>
        <div class="timeline-container pink">
            <div class="timeline-icon">
                <i class="fas fa-university"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Acceso a la Universidad para Mayores de 25 años</span></h4>
                <p>UNED | Septiembre 2020 - Junio 2021.</p>
            </div>
        </div>
    <div>
        <h2 class="tittle">Certificados</h2>
        <h3 class="subtittle">OpenWebinars</h3>
    </div>
        <div class="timeline-container brown">
            <div class="timeline-icon">
                <i class="fas fa-certificate"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Scrum técnico</span></h4>
                <p>2 horas</p>
            </div>
        </div>
        <div class="timeline-container dark-lilac">
            <div class="timeline-icon">
                <i class="fas fa-gamepad"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Unity</span></h4>
                <p>6 horas</p>
            </div>
        </div>
        <div class="timeline-container light-lilac">
            <div class="timeline-icon">
                <i class="fab fa-html5"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">HTML y CSS3</span></h4>
                <p>10 horas</p>
            </div>
        </div>
        <div class="timeline-container pink">
            <div class="timeline-icon">
                <i class="fab fa-java"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Java desde Cero</span></h4>
                <p>10 horas</p>
            </div>
        </div>
        <div class="timeline-container brown">
            <div class="timeline-icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Java XML</span></h4>
                <p>10 horas</p>
            </div>
        </div>
        <div class="timeline-container dark-lilac">
            <div class="timeline-icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">C++</span></h4>
                <p>1 hora</p>
            </div>
        </div>
        <div class="timeline-container light-lilac">
            <div class="timeline-icon">
                <i class="fas fa-code"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">C++ orientado a objetos o funcional</span></h4>
                <p>1 hora</p>
            </div>
        </div>
        <div class="timeline-container pink">
            <div class="timeline-icon">
                <i class="fas fa-vial"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">JUnit5</span></h4>
                <p>2 horas</p>
            </div>
        </div>
        <div class="timeline-container brown">
            <div class="timeline-icon">
                <i class="fas fa-leaf"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Introducción a Spring framework</span></h4>
                <p>1 hora</p>
            </div>
        </div>
        <div class="timeline-container dark-lilac">
            <div class="timeline-icon">
                <i class="fas fa-leaf"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Mi primera aplicación web con Spring Boot</span></h4>
                <p>2 horas</p>
            </div>
        </div>
    </div>
</div>