/* You can add global styles to this file, and also import other style files */



body {
    background-color: #2C2C2E;
    font-family: "Mona Sans", MonaSansFallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: rgb(255,255,255);
    font-style: normal;
}

h2 {
    text-decoration: underline;
    text-align: center;
    font-weight: 450;
    font-size: 48px;
    line-height: 38px;
    color: rgb(177,186,196);
}


h1 { 
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;  
}

a {
    font-weight: 400;
    size: 16px;
    line-height: 24px;
}