<div class="welcome-container">
    <div class="context">
        <h1>{{about.welcome}}</h1>
        <section class="about-me">
            <div class="personal-image">
                <img [src]="about.urlImage" class="lazy-load">
            </div>        
            <div class="about-description">
                <h2>{{about.title}}</h2>
                <h3>{{about.presentation}}</h3>
                <p>{{about.description}}
                <app-contact></app-contact>
                </p>
            </div>
        </section>
    </div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>