<div class="welcome-container">
    <div class="context">
        <h1>Bienvenido a mi Portfolio</h1>
        <section class="about-me">
            <div class="personal-image">
                <img src="/assets/images/photo.png" alt="Mi Imagen Personal">
            </div>        
            <div class="about-description">
                <h2>Sobre Mí</h2>
                <h3>Hola, soy Juan Gabriel Lara</h3>
                <p>Soy técnico superior en desarrollo de aplicaciones multiplataforma titulado. <br>
                    Tengo experiencia dando apoyo en proyectos usando tecnologías como Angular en (OPPO Community), al igual que WordPress para un trabajo interno de la empresa.
                    También he podido participar en el sistema gestor de empresas Odoo (Metalistería Madrid).
                </p>
            </div>
        </section>
    </div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>