<div class="welcome-container">
    <div class="context">
        <h1>Bienvenido a mi Portfolio</h1>
        <section class="about-me">
            <div class="personal-image">
                <img src="/assets/images/photo.png" alt="Mi Imagen Personal" class="lazy-load">
            </div>        
            <div class="about-description">
                <h2>Sobre Mí</h2>
                <h3>Hola, soy Juan Gabriel Lara</h3>
                <p>Soy técnico superior en desarrollo de aplicaciones multiplataforma titulado.
                    Tengo experiencia dando apoyo en proyectos tales como OPPO Community usando tecnologías como Angular, al igual que WordPress para trabajos internos de empresa.
                    También he podido participar en la configuración y personalización de módulos con sistemas ERP Odoo en el proyecto de Metalistería Madrid.
                </p>
            </div>
        </section>
    </div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>